@import "../../../_variables.scss";

.header{
    height: $navSize;
    background-color: white;
    border-bottom: 1px solid $lightDark;
    nav{
        height: 100%;
        width: 100%;
        padding: 0 35px;
        justify-content: space-between;

        display: flex;
        align-items: center;

        .logo{
            width: 40px;
            img{
                width: 100%;
            }
        }

        .right{
            display: flex;

            a{
                margin-right: 8px;

                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}