<section class="auth">
  <div class="card">
    <h1>Login Admin</h1>
    <form [formGroup]="loginForm" #thisSocoreForm="ngForm" (ngSubmit)="submitLogin()">
      <div class="form-group">
        <label for="user">Usuario</label>
        <input formControlName="user" type="text" placeholder="Username" required="required">
        <label for="password">Contraseña</label>
        <input formControlName="password" type="password" placeholder="password" required="required">
      </div>
      <div class="popup popup-red" *ngIf="scoreError">
        <span>{{errorMessage}}</span>
      </div>
      <button class="btn btn-primary btn-block" type="submit">
        <span>Login</span>
      </button>
    </form>
  </div>
</section>
