<section>
    <div class="card card-full card-flex">
        <div class="cardSection left">
            <h2 class="title">Enter the text you'd like to analyze</h2>
            <form #thisTextForm="ngForm" [formGroup]="textForm" (ngSubmit)="submitText()">
                <textarea formControlName="input" name="" id="" cols="30" rows="10"></textarea>
                <button class="btn btn-primary" [disabled]="!textForm.valid">
                    <span *ngIf="!isLoadingAnalisis">Confirm</span>
                    <span *ngIf="isLoadingAnalisis">Loading...</span>
                </button>
            </form>
        </div>
        <div class="cardSection right">
            <div *ngIf="resultScore" class="result">
                <h2 class="title">Keywords</h2>
                <div id="keywords" class="keywords">
                    <div class="keyword keyword-blue" *ngFor="let resultKey of resultKeys">
                        <span>{{resultKey}}</span>
                    </div>
                </div>

                <h2 class="title">Results</h2>
                <table id="percentage" class="percentage">
                    <tr>
                        <th class="title">FEELING</th>
                        <th class="title">PERCENTAGE</th>
                    </tr>
                    <tr>
                        <td>Positive</td>
                        <td class="value">{{resultScore}}%</td>
                    </tr>
                </table>
            </div>
            <div class="no-resultContainer">
                <div *ngIf="!resultScore" class="no-result">No data to show</div>
            </div>
        </div>
    </div>
</section>

<div class="popup popup-red" *ngIf="analisisError">
    <span>{{errorMessage}}</span>
</div>