<section>
  <div class="card card-full card-flex">
    <div class="cardSection left grade">
      <h1 class="title">Teachers grade</h1>
      <form class="gradeForm" #thisSocoreForm="ngForm" [formGroup]="scoreForm" (ngSubmit)="submitScore()">
        <div class="form-group">
          <div
            *ngIf="scoreForm.controls['teacherId'].invalid && (scoreForm.controls['teacherId'].dirty || scoreForm.controls['teacherId'].touched)"
            class="alert">
            <div *ngIf="scoreForm.controls['teacherId'].errors.required">
              Teacher ID is required
            </div>
          </div>
          <input formControlName="teacherId" type="text" name="TeacherID" placeholder="Teacher ID *" id="TeacherID"
            required="required">

            <div
            *ngIf="scoreForm.controls['classId'].invalid && (scoreForm.controls['classId'].dirty || scoreForm.controls['classId'].touched)"
            class="alert">
            <div *ngIf="scoreForm.controls['classId'].errors.required">
              Class ID is required
            </div>
          </div>
          <input formControlName="classId" type="text" name="ClassId" placeholder="Class ID *" id="ClassId"
            required="required">

          <div
            *ngIf="scoreForm.controls['grade1'].invalid && (scoreForm.controls['grade1'].dirty || scoreForm.controls['grade1'].touched)"
            class="alert">
            <div *ngIf="scoreForm.controls['grade1'].errors.required">
              Garde 1 is required
            </div>
          </div>
          <input formControlName="grade1" type="number" name="1stGrade" placeholder="Fisrt Year Grade (1 to 100) *"
            id="1stGrade">
          <div
            *ngIf="scoreForm.controls['grade2'].invalid && (scoreForm.controls['grade2'].dirty || scoreForm.controls['grade2'].touched)"
            class="alert">
            <div *ngIf="scoreForm.controls['grade2'].errors.required">
              Grade 2 is required
            </div>
          </div>
          <input formControlName="grade2" type="number" name="2ndGrade" placeholder="Second Year Grade (1 to 100) *"
            id="2ndGrade">
        </div>
        <button class="btn btn-primary btn-block" type="submit" [disabled]="!scoreForm.valid"><span
            *ngIf="!isLoadingFinalScore">Get prediction</span> <span
            *ngIf="isLoadingFinalScore">Loading...</span></button>
      </form>
      <button class="btn btn-secondary btn-block" (click)="trainModel()"><span *ngIf="!isLoadingTrainModel">Train
          Model</span><span *ngIf="isLoadingTrainModel">Loading...</span></button>
    </div>

    <div class="cardSection right">
      <div class="results">
        <div *ngIf="result" class="result">
          <span class="score" [style.color]="predictionColor">{{result}}</span>
          <span>Prediction Score</span>
        </div>
        <span *ngIf="!result" class="no-result">No data to show</span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cardSection right">
      <img [src]="imagePath">
      <canvas id="myChart" width="100" height="100"></canvas>
    </div>
  </div>
  
</section>

<div class="popup popup-red" *ngIf="scoreError || trainModelError">
  <span>{{errorMessage}}</span>
</div>

<div class="popup popup-green" *ngIf="trainModelSucces">
  <span>Training succesful</span>
</div>