<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Teachers grade</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/static/css/style.css" type='text/css'>

</head>

<body style="background: #000;">
  <div class="login">
    <h1>Teachers grade</h1>
    <!-- Main Input For Receiving Query to our ML -->
    <input type="number" name="TeacherID" placeholder="Teacher ID" id="TeacherID" required="required" min="1" max="3" />
    <input type="number" name="1stGrade" placeholder="Fisrt Year Grade (1 to 100)" id="1stGrade" required="required"
      min="1" max="100" />
    <input type="number" name="2ndGrade" placeholder="Second Year Grade (1 to 100)" id="2ndGrade" required="required"
      min="1" max="100" />
    <button class="btn btn-primary btn-block btn-large" onclick="requestPrediction()">Final score should be</button>
    <button class="btn btn-primary btn-block btn-large" onclick="trainModelRequest()">Train Model</button>
    <button class="btn btn-primary btn-block btn-large" onclick="location.href = '/text-analysis'">Text Analysis</button>
    <br>
    <br>
    <h3 id="prediction"></h3>
    <div class="graphs">
      <img src="" id="imagePng">
    </div>
    <div class="graphs">
      <canvas id="myChart" width="100%" height="25"></canvas>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/scripts/main.js" charset="utf-8"></script>
</html>