<section>
    <div class="select-bar">
        <form [formGroup]="searchForm" (ngSubmit)="getProfessor()">
            <input type="text" placeholder="Search Teacher by ID" formControlName="id">
            <button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid">Search</button>
        </form>
    </div>

    <div class="no-professor" *ngIf="!professor">
        <span>Search a teacher</span>
    </div>

    <div *ngIf="professor" class="professor">
        <div class="header">
            <h1 class="title">Professor <span class="name">{{professor.name}}</span> </h1>
        </div>

        <div class="card card-full">
            <h1 class="title">Ecoas</h1>
            <div *ngIf="professor?.classes?.length > 0" class="classes">
                <div *ngFor="let class of professor?.classes">
                    <h2 class="subtitle">{{class.className}} <span class="class-code">{{class.classCode}}</span> </h2>
                </div>
            </div>
            <div *ngIf="!professor?.classes?.length > 0">
                <span>no tiene ningana clase</span>
            </div>
        </div>

        <div class="card card-full">
            <h1 class="title">Predictions</h1>
        </div>
    </div>
</section>