$light:#F4F6F8;
$lightDark: rgb(201, 201, 201);
$dark: #0f0f0f;
$darkLight: #1a1a1a;
$primary: #0189FF;
$primaryDark: rgb(0, 121, 228);
$secondary: #339916;
$secondaryDark: #267a0f;
$tertiary: #E21B3C;
$tertiaryDark: rgb(184, 16, 44);
$quaternary: #FEA602;
$quaternaryDark: rgb(238, 143, 0);

$borderizado: 8px;
$navSize: 69px;