$light:#F4F6F8;
$lightDark: rgb(201, 201, 201);
$medium: #8f8f8f;
$dark: #0f0f0f;
$darkLight: #1a1a1a;
$primary: rgb(0, 136, 255);
$primaryDark: rgb(0, 121, 228);
$secondary: rgb(51, 153, 22);
$secondaryDark: #267a0f;
$tertiary: rgb(226, 27, 60);
$tertiaryDark: rgb(184, 16, 44);
$quaternary: rgb(254, 166, 2);
$quaternaryDark: rgb(238, 143, 0);

$borderizado: 8px;
$globalPadding: 30px;
$navSize: 69px;